.detail-view {
}

.detail-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

.detail-row {
  margin-bottom: 1em;
}

.detail-key {
  display: inline-block;
  padding-right: .25em;
  font-weight: bold;
}

.detail-value {
  display: inline-block;
}